<configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode1" path="app.js" verb="*" modules="iisnode" />
        </handlers>
    </system.webServer>
    <system.web>
        <authorization>
            <allow users="?" />
        </authorization>
    </system.web>
</configuration>