.form-group    
    p Title
    input#title(required type='text' name='title')
.form-group 
    p Description
    textarea#description(rows="5" required type='text' name='description')
.form-group 
    p Content
    textarea#markdown(rows="10" required type='text' name='markdown')
.form-group 
    a.special-btn(href='/') Cancel
    a.special-btn(onclick='submitform();') Save

    script.
        function submitform() {
            document.getElementById("save").submit();
        }