.user
  p(style="border-right: 1px solid white") Hi #{name}
  button(type='submit' onclick="logout()") Logout
nav.navbar
  .container
    a.navbar-brand(href='/') Art.Design
    .navbar-nav
      a(href='/') home
      a(href='') design
      a(href='') blog
      a(href='/contact') contact

input#csrf(type='hidden' name='_csrf' value=csrfToken)

script.
  function logout() {
    $.ajax({
      type: "DELETE",
      url: "/logout",
      data: {
        _csrf: $("#csrf").attr("value")
      },
      success: () => {
        location.reload();
      }
    })
  }