doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Sign Up
  link(rel='stylesheet' type='text/css' href='../style.css')
body(background="../images/background.jpg")
  .loginbox
    img.avatar(src='../images/avatar.png')
    h1 Sign up
    if messages.error
      p(style="color: red;text-decoration: none;font-size: 12px;line-height: 20px;")= messages.error
    form(action="/auth/signup" method="POST")
      p Username
      input(type='text' name='username' placeholder='Enter Username')
      p Password
      input(type='password' name='password' placeholder='Enter Password')
      p Confirm password
      input(type='password' name='confirmPassword' placeholder='Enter Password')
      input(type='submit' name='' value='Sign Up')
      a(href='/auth/login') Already have an account?
